.stories-wrapper {
  margin-left: 5%;
}

.top-story-title {
  color: #19B697;
  margin-left: 1%;
  margin-bottom: 0;
  font-size: 35px;
}

.top-story-container {
  margin-bottom: 2%;
}

.storiesList-container {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin-bottom: 1%;
  margin-top: 1%;
}

.storiesList-info-container {
  width: 80%;
}

.story-title {
  font-size: 25px;
}

.story-abstract {
  font-size: 20px;
}

.story-img {
  border-radius: 8px;
  float: left;
  width:  200px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.SingleStory-container {
  margin-top: 1%;
  margin-left: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SingleStory-title {
  font-size: 38px;
  text-align: center;
  margin-bottom: 0;
}

.SingleStory-img {
  border-radius: 15px;
}

.SingleStory-abstract {
  font-size: 28px;
}

.SingleStory-title, .SingleStory-img, .SingleStory-abstract {
  width: 90vw;
}

.link-text {
  text-decoration: none;
}

.back-link {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
}

.back-link:hover, .link-text:hover {
  color: #19B697;
}