* {
  font-family: 'Cabin', sans-serif;
}

.App-header {
  background-color: #282c34;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-size: calc(15px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: white;
  padding-left: 1%;
}

.header-title {
  margin-bottom: 1%;
  margin-top: 2.5%;
}

