.Nav-bar {
  background-color: #19B697;
  color: white;
  width: 100vw;
  justify-content: space-around;
}

.Nav-container {
  display: flex;
  flex-direction: row;
  margin-left: 1%;
}

.home-text {
  margin-right: 5vw;
}

.home-text:hover, .saved-stories-text:hover {
  color: #00FFCE;
}
