.Nav-bar {
  background-color: #19B697;
  color: white;
  width: 100vw;
  justify-content: space-around;
}

.Nav-container {
  display: flex;
  flex-direction: row;
  margin-left: 1%;
  align-items: center;
}

.home-text {
  margin-right: 5vw;
}

.go-back-text {
  cursor: pointer;
}

.home-text:hover, .go-back-text:hover, select:hover {
  color: #00FFCE;
}

.section-select {
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-left: 1%;
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
}